
<div ng-controller="MainController">
	<h1>Saisie des sous-traitants</h1>
	<form id="companyForm">
		<label>Nom du sous-traitant : </label>
		<input type="text" id="companyName" />
		<input type="submit" value="Ajouter" id="companyAddBtn" />
	</form>
	<br/>

	<h1>Recherche des sous-traitants</h1>
	<form id="companySearchForm">
		<label>Nom du sous-traitant : </label>
		<input type="text" id="companyName" />
		<input type="submit" value="Rechercher" id="companySearchBtn" />
	</form>
	<h3>Résultat de la recherche</h1>
	<div></div> <!-- TODO Grid result -->
	<br/>

	<h1>Tous les sous-traitants</h1>
	<div></div> <!-- TODO Grid All -->
</div>
