
<div data-ng-controller="SubcontractorController">
	<form id='subcontractorForm'>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#general" target="_self">Général</a></li>
			<li><a data-toggle="tab" href="#contacts" target="_self">Contacts</a></li>
			<li><a data-toggle="tab" href="#ratings" target="_self">Notes</a></li>
		</ul>
		<div class="tab-content">
			<div id="general" class="tab-pane fade in active">
				<h2>Sous-traitant</h2>
				<br />
				<label>Raison Sociale : </label>
				<input type="text" id="subcontractorName" data-ng-model="subcontractor.name" />&nbsp;&nbsp;
				<label>Type : </label>
				<select id="subcontractorType" data-ng-model="subcontractor.type" data-width="200"
					data-ng-options="st for st in subcontractorTypeList"></select>&nbsp;&nbsp;
				<label>Identifiant : </label>
				<input type="text" id="identifier" data-ng-model="subcontractor.identifier" />&nbsp;&nbsp;
				<label>Type Identifiant : </label>
				<select id="identifierType" data-ng-model="subcontractor.identifierType" data-width="100" 
					data-ng-options="it for it in identifierTypeList"></select>&nbsp;&nbsp;
				<br />
				
				<h2>Lots</h2>
				<span data-ng-repeat = "l in lotList">
					<input type="checkbox" id="lot-{{ l.id }}" data-ng-checked="l.checked"
						value="{{ l.id }}" data-ng-click="lot.check(l.id)"/> <label>{{ l.label }}</label>&nbsp;&nbsp;
					<br data-ng-if="$index > 0 && $index % 3 == 0"/>
				</span>
				<br />
				
				<h2>Corps d'état</h2>
				<span data-ng-repeat = "t in tradeList">
					<span data-ng-show="showTradesOfLot[t.lot.id]">
						<span data-ng-if="tradeList[$index].lot.label != tradeList[$index-1].lot.label" class="bg-info text-uppercase">
						<b>{{ t.lot.label }}</b><br/>
						</span>
						<input type="checkbox" id="trade-{{ t.id }}" data-ng-checked="t.checked" 
							value="{{ t.id }}" data-ng-model="t.checked"> <label>{{ t.label }}</label>&nbsp;&nbsp;
						<br data-ng-if="$index > 0 && $index % 3 == 0 && tradeList[$index-1].lot.label == tradeList[$index].lot.label"/>
						<span data-ng-if="$index > 0 && tradeList[$index+1].lot.label != tradeList[$index].lot.label"><br/><br/></span>
					</span>
				</span>
			</div>
		
			<div id="contacts" class="tab-pane fade">
				<h2>Contacts</h2>
				<br />
				<input type="hidden" id="contactId" data-ng-model="ct.id"  />
				<label>Nom : </label>
				<input type="text" id="lastName" data-ng-model="ct.lastName" />&nbsp;&nbsp;
				<label>Prénom : </label>
				<input type="text" id="firstName" data-ng-model="ct.firstName" />&nbsp;&nbsp;
				<label>Fonction : </label>
				<input type="text" id="job" data-ng-model="ct.job" />&nbsp;&nbsp;
				<br /><br />
				<label>Email : </label>
				<input type="text" id="job" data-ng-model="ct.email" />&nbsp;&nbsp;
				<label>Phone : </label>
				<input type="text" id="phone" data-ng-model="ct.phone" />&nbsp;&nbsp;
				<br /><br />
				<button id="contactSaveBtn" data-ng-click="contact.save()" class="btn btn-primary">Enregitrer Contact</button>
				<h3>Liste</h3>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-md-2 text-center">Nom</th>
							<th class="col-md-2 text-center">Prénom</th>
							<th class="col-md-2 text-center">Fonction</th>
							<th class="col-md-1 text-center">Email</th>
							<th class="col-md-1 text-center">Phone</th>
							<th class="col-md-1 text-center"></th>
							<th class="col-md-1 text-center"></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat = "c in subcontractor.contacts">
							<td>{{ c.lastName }}</td>
							<td>{{ c.firstName }}</td>
							<td>{{ c.job }}</td>
							<td>{{ c.email }}</td>
							<td>{{ c.phone }}</td>
							<td><button data-ng-click="contact.modify($index)" class="btn btn-primary">Modifier</button></td>
							<td><button data-ng-click="contact.remove($index)" class="btn btn-danger">Supprimer</button></td>
						</tr>
					</tbody>
				</table>
			</div>
				
			<div id="ratings" class="tab-pane fade">
				<h2>Notes</h2>
				<br />
				<input type="hidden" id="ratingId" data-ng-model="rt.id"  />
				<label>Projet : </label>
				<select id="ratingProject" data-ng-model="rt.project" data-width="400" 
					data-ng-options="prj.name for prj in projectList"></select>&nbsp;&nbsp;
				<label>Note : </label>
				<input id="ratingStars" type="number" data-ng-model="rt.stars" size="3" min="1" max="5" />&nbsp;<b> / 5</b>
				<br /><br />
				<label>Commentaires : </label><br />
				<textarea rows="3" cols="50" data-ng-model="rt.comments"></textarea>
				<br /><br />
				<button id="ratingSaveBtn" data-ng-click="rating.save()" class="btn btn-primary">Enregistrer Note</button>
				<h3>Liste</h3>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="col-md-4 text-center">Projet</th>
							<th class="col-md-2 text-center">Note</th>
							<th class="col-md-4 text-center">Commentaires</th>
							<th class="col-md-1 text-center"></th>
							<th class="col-md-1 text-center"></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat = "r in subcontractor.ratings">
							<td>{{ r.project.name }}</td>
							<td>{{ r.stars }}</td>
							<td>{{ r.comments }}</td>
							<td><button data-ng-click="rating.modify($index)" class="btn btn-primary">Modifier</button></td>
							<td><button data-ng-click="rating.remove($index)" class="btn btn-danger">Supprimer</button></td>
						</tr>
					</tbody>
				</table>
				<b>Note moyenne du sous-traitant : {{ avgRating }}</b>
			</div>
		</div>
		
		<br /><br />
		<hr />

		<button id="subcontractorSaveBtn" class="btn btn-success" 
			data-ng-click="subcontractor.save()" data-toggle="popover" data-trigger="focus" 
			title="Succès" data-content="Sous-traitant sauvegardé avec succès !">Enregistrer Sous-Traitant</button>
	</form>
</div>
