
<div ng-controller="MainController">
	<h1>Saisie des corps d'état</h1>
	<form id="tradeForm">
		<label>Libellé du corps d'état : </label>
		<input type="text" id="tradeName" />
		<input type="submit" value="Ajouter" id="tradeAddBtn" />
	</form>
	<br/>

	<h1>Recherche des corps d'état</h1>
	<form id="tradeSearchForm">
		<label>Libellé du corps d'état : </label>
		<input type="text" id="tradeName" />
		<input type="submit" value="Rechercher" id="tradeSearchBtn" />
	</form>
	<h3>Résultat de la recherche</h1>
	<div></div> <!-- TODO Grid result -->
	<br/>

	<h1>Tous les corps d'état</h1>
	<div></div> <!-- TODO Grid All -->
</div>
